*{
    margin: 0;
    padding: 0;
}

.nav-icon {
    height: 50px;

}

.navigation, .navigation-list {
    width: 250px;
    height: 50px;
}

.navigation {
    background: rgb(59, 59, 59);
    margin: 200px auto;
}

.navigation-list {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
}

.navList-item {
    flex: 1;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    transition: all 0.4s;
    transition-timing-function: ease-in-out;
}

.nav-icon {
    height: 30px;
    width: 30px;
    /* border: 1px solid red; */
}

.is-active {
    flex: 2;
}